body {
    background-color: #00B3B3;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}



ul {
    padding-left: 0;
    margin-bottom: 0;
}
li {
    list-style-type: none;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
}

li:hover {
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);;
}

.col-sm-9 {

    opacity: 0.7;
}